<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.moodsounds">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AngryActivity"
            android:label="@string/angry"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".CalmActivity"
            android:label="@string/calm"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".EnergeticActivity"
            android:label="@string/energetic"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".GrumpyActivity"
            android:label="@string/grumpy"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".HappyActivity"
            android:label="@string/happy"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".RelaxedActivity"
            android:label="@string/relaxed"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".RomanticActivity"
            android:label="@string/romantic"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".SadActivity"
            android:label="@string/sad"
            android:parentActivityName=".MainActivity">
        </activity>
    </application>

</manifest>